<div class = "content">
    <h1>TODO List -EDIT </h1>

    <form [formGroup]='form' novalidate >
      <div  class="example-container">
        <div class="form-group ">
        <mat-form-field >
        <input  formControlName="title" matInput placeholder="Title">
        </mat-form-field>
        </div>

        <div class="form-group ">
        <mat-form-field>
        <textarea formControlName="description" matInput placeholder="Description"></textarea>
        </mat-form-field>
        </div>

        <div class="form-group ">
          <mat-form-field>
            <input formControlName="dueDate" matInput [matDatepicker]="picker" placeholder="Due Date">
             <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

      
        <div class="form-group ">
          <mat-form-field >
              <mat-label>Priority Order</mat-label>
              <mat-select  formControlName="priority" matNativeControl required>
                <mat-option value="higher-Important">higher-Important</mat-option>
                <mat-option value="important">Important</mat-option>
              </mat-select>
          </mat-form-field>
        </div>

    </div>
    
        <button mat-button (click) ="onUpdate()">Update</button>
  </form>
    
</div>



