<body class = "body">
    <h1>TODO List -EDIT </h1>


    <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Title">
        </mat-form-field>
      
        <mat-form-field>
          <input matInput ="picker" placeholder="Due date">
          <mat-datepicker-toggle ></mat-datepicker-toggle>
        </mat-form-field>

        
        <mat-form-field>
            <mat-label>Priority Order</mat-label>
            <select matNativeControl required>
              <option value="higher-Important">higher-Important</option>
              <option value="important">Important</option>
            </select>
          </mat-form-field>
        
        <button mat-button>UPDATE!</button>

      </div>
</body>



