<div class="row">
    <div class="col">
        <app-header></app-header>
    </div>
</div>
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>
<body>
    <!-- <div  class="row mt-5 mb-5 ">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    <div class="card"> -->
        <!-- <alert></alert> -->
        <router-outlet></router-outlet>
    <!-- </div>
    </div > -->
    
    <hr>
</body>
    <div class="row">
    <div class="col">
        <app-footer></app-footer>
    </div>
    </div>